@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/aspect-ratio";
@plugin "tailwindcss-bg-patterns";

/* Configure DaisyUI - Previously in tailwind.config.cjs */
@plugin "daisyui" {
  themes: corporate --default, dark --prefersdark, light;
  root: ":root";
  include: all;
  exclude: none;
  prefix: "d-";
  base: true;
  utils: true;
  styled: true;
  logs: true;
}





/* @config "../../tailwind.config.cjs"; */

@layer base {

  /* Necessary for AlpineJS x-cloak directive */
  /* See https://alpinejs.dev/directives/cloak */
  [x-cloak] {
    display: none !important;
  }

  body {
    @apply flex flex-col min-h-screen min-w-96
  }

  body {
    /*background-image: url('/images/topography.svg');*/
  }

  main {
    @apply flex-auto
  }
}

@layer utilities {
  /* Custom Utilities */

  .cw-space-xl {
    @apply mt-16 mb-12;
  }

  .cw-space-lg {
    @apply mt-12 mb-8;
  }

  .cw-space-md {
    @apply mt-8 mb-6;
  }

  .cw-space-sm {
    @apply mt-6 mb-4;
  }

  .cw-space-xs {
    @apply mt-4 mb-2;
  }

  .cw-space-base {
    @apply mt-8 mb-6;
    /* @apply cw-space-md; */
  }

  .cw-space-none {
    @apply mt-0 mb-1;
  }

  .m-base {
    @apply mt-8 mb-6;
  }

  .mt-base {
    @apply mt-8;
  }

  .mb-base {
    @apply mb-6;
  }


  @variants responsive {
    /* CSS to apply to all variants */
  }
}

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
  --cw-orange: #E25926;
  --cw-gray-dark: #656868;
  --cw-gray-light: rgb(130, 3, 70);
}

/* @font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

body {
  font-family: 'Atkinson', sans-serif;
}

main {
  width: calc(100% - 2em);
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 0;
}

@media (min-width: 640px) {
  main {
    width: calc(640px * 1);
  }
}

@media (min-width: 768px) {
  main {
    width: calc(768px * 1);
  }
}

@media (min-width: 1024px) {
  main {
    width: calc(1024px * .95);
  }
}

@media (min-width: 1280px) {
  main {
    width: calc(1280px * .95);
  }
}

@media (min-width: 1536px) {
  main {
    width: calc(1536px * .88);
  }
}

a:active {
  @apply ring-1;
}