---
// TODO - make tabs work
---

<div role="tablist" class="d-tabs d-tabs-lifted d-tabs-lg">
  <a role="tab" class="d-tab d-tab-active">Page 1</a>
  <a role="tab" class="d-tab">Page 2</a>
  <a role="tab" class="d-tab">Page 3</a>
</div>
